listen_addresses = ['127.0.0.1:8053']
server_names = []
forwarding_rules = '/etc/dnscrypt-proxy/forwarding-rules.txt'

log_level = 2
log_file = '/var/log/dnscrypt-proxy.log'

cache = true
cache_size = 1024
cache_min_ttl = 60
cache_max_ttl = 86400

max_clients = 250
timeout = 2500
