# /etc/systemd/system/cert-reload@.service
[Unit]
Description=Reload %i when certs change

[Service]
Type=oneshot
ExecStart=/bin/systemctl reload %i.service
