# /etc/systemd/system/unbound.service
[Unit]
Description=Unbound DNS resolver
After=network.target

[Service]
ExecStart=/usr/sbin/unbound -d -c /etc/unbound/unbound.conf
Restart=always

[Install]
WantedBy=multi-user.target
# after sudoedit /etc/systemd/system/unbound.service
# sudo systemctl daemon-reload;sudo systemctl restart unbound;sudo systemctl status unbound
