# homelab-dnsmasq.service
[Unit]
Description=Homelab dnsmasq (LAN DNS + WG RA/DHCPv6)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/dnsmasq \
    --keep-in-foreground \
    --conf-file=/usr/ugreen/etc/dnsmasq/dnsmasq.conf \
    --conf-dir=/usr/ugreen/etc/dnsmasq/dnsmasq.d \
    --log-facility=/var/log/dnsmasq.log

ExecReload=/bin/kill -HUP $MAINPID

Restart=on-failure
RestartSec=2

User=root
Group=root

[Install]
WantedBy=multi-user.target
