[Unit]
Description=NetBird Relay Service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=%h/src/homelab
ExecStart=/usr/bin/docker compose -f config/netbird/docker-compose.netbird.yaml -f config/netbird/docker-compose.netbird.override.yaml up -d relay
ExecStop=/usr/bin/docker compose -f config/netbird/docker-compose.netbird.yaml stop relay
ExecReload=/usr/bin/docker compose -f config/netbird/docker-compose.netbird.yaml restart relay

[Install]
WantedBy=multi-user.target
