[Unit]
Description=NetBird Signal Service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/julie/src/homelab
ExecStart=/usr/bin/docker compose -f config/netbird/docker-compose.netbird.yaml -f /home/julie/src/homelab/config/netbird/docker-compose.netbird.override.yaml up -d signal
ExecStop=/usr/bin/docker compose -f config/netbird/docker-compose.netbird.yaml stop signal
ExecReload=/usr/bin/docker compose -f config/netbird/docker-compose.netbird.yaml restart signal

[Install]
WantedBy=multi-user.target
