[Unit]
Description=Router Advertisement Daemon
After=network.target

[Service]
ExecStart=/usr/local/sbin/radvd -C /etc/radvd.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
